header{
    background-color: transparent;
    padding: 5px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}

header > div{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: black; 
}

.hyperLinks a{
    color: black;
    text-decoration: none;
}
header > a > img{
    width:100px;
    float: left;
}